.ItemPage {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.ItemPage-header {
  max-width: 900px;
  margin: auto;
  height: 90px;
  padding-top: 7px;
  padding-bottom: 13px;
  color: white;
  background: url('http://cdn4.matsmart.se/sites/all/themes/retailshop/images/bg.jpg');
  background-position: center top;
}

.ItemPage-title {
  font-size: 24px;
  margin-bottom: 2px;
}

.ItemPage-subtitle {
  margin-bottom: 8px;
}
