a {
  color: #062F0F;
  text-decoration: none;
}

.itemImage {
  background-size: contain;
  background-repeat: no-repeat;
}

.itemImageWrapper {
  padding-top: 5px;
  display: inline-table;
}

.itemRow {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.itemPrice {
  background: url(http://cdn1.matsmart.se/sites/all/themes/retailshop/images/icons/star.svg) no-repeat;
  display: inline-table;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  margin-right: 10px;
}

.itemInfoWrapper {
  width: 100%;
}

.itemName {
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: 20px;
}

.itemInfo {
  color: #37474f;
  font-size: small;
  margin-top: 5px;
}

.itemDiscount {
  font-weight: bold;
  float: left;
}

.itemBestBefore {
  float: right;
  margin-right: 25px;
}
